body {
  margin: 10px;
}
.preferences {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid green;
}
.options {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin-top: 0px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
.paragraph {
  display: flex;
}

h1,
h3 {
  margin: 5px;
}

h3 {
    margin-bottom: 20px;
}