.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 100px;
    top: 90px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 150px;
    top: 400px;
  }
  
  .baloon {
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 500px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 290px;
    left: 520px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 800px;
    top: 400px;
  }