#list1 li:nth-child(even){
    background-color: blue;
}

#list2 li:nth-child(odd){
    background-color: red;
}

#list3 li:nth-child(3n){
    background-color: blue;
}

#list4 li:nth-child(n+3){
    background-color: red;
}

#list5 li:nth-child(-n+3){
    background-color: blue;
}