* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.blocos {
    background-color: blueviolet;
    width: 300px;
    display: inline-block;
    padding: 30px;
}

header img {
    width: 300px;
}

section {
    margin: 20px;
}

nav {
    display: inline-block;
    background-color: black;
    width: 100%;
    padding: 10px;
    position: fixed;
    left: 0;
}

a:link{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    margin: 5px;

}

a:hover {
    color: red;
}

a:active {
    color: blue;

}

.blocos:hover{
    background-color: brown;
    transition: width 2s, height 20s, opacity 20s, transform 20s;