ol li {
    background-color: yellow;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

ol li:nth-child(even) {
    color: green;
}

h1, h3 {
    color: red;
}

h1 em, h3 em {
    font-size: 40px;
    border: 1px solid black;
}

ol li, ul li {
    font-size: 20px;
}

ol li em, ul li em {
    font-weight: bold;
}

ul:nth-of-type(1) li:nth-child(-n+3) {
    color: blue;
}

.pink-java {
    background-color: pink;
}

#links li a[href*="stackoverflow"]:hover{
    font-weight: bold;
    color: orange;
}

#links li a[href*="w3schools"]:hover{
    font-weight: bold;
    color: green;
}

#links li a[href*="mozilla"]:hover{
    font-weight: bold;
    color: black;
}

#links li a[href*="devdocs"]:hover{
    font-weight: bold;
    color: yellow;
}

#links li a[href*="trybe"]:hover{
    font-weight: bold;
    color: green;
}